@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container header{
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.759);
    font-weight: 500;
   
}
.container .form{
    margin-top:30px;
}
.form .input-box{
    width: 300px ;
    margin-top:20px;
}
.input-box label{
    color:rgb(224, 15, 161);
}
.form .input-box input{
    position: relative;
    height: 50px;
    width:100%;
    outline:none;
    font-size: 1rem;
    color: gray;
    margin-top:5px;
    border: 1px solid wheat;
    border-radius:6px;
    padding: 0 15px;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(161, 83, 234);
    padding:20px;
}
.container{
    position:relative;
    max-width: 700px;
    width:100%;
    background: rgb(253, 253, 253);
    padding: 25px;
    border-radius: 8px;
    box-shadow:0 0 15px rgba(221, 166, 222, 0.871) ;
}
.form .col{
    display:flex;
    column-gap: 15px;
}
.form .gender-box{
    margin-top: 20px;
}
.gender-box h3{
    color: rgb(218, 20, 179);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom:8px;
}
.form :where(.gender-opt, .gender ) {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.form .gender{
    column-gap:10px;
    cursor: pointer;
}
.form :where(.gender input, .gender label){
    cursor: pointer;
}
.form button{
    height:55px;
    width:100px;
    font-size:1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    color: white;
    transition: all 0.2s ease;
    background-color:rgb(161, 83, 234) ;
}
.form button:hover{
    background-color: #ce8cec;
}
/* responsive */
@media screen and (max-width:500px ){
    .form .col {
        flex-wrap: wrap;
    }
}